* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    position: fixed;
    background: #ff0;
    width: 100%;
    height: 100vh;
    filter: blur(20px);
    opacity: 0.2;
}

img.hand-img {
    object-fit: cover;
    width: 1000px;
    filter: blur(15px);
    height: 100vh;
}

.hand {
    position: absolute;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand img {
    width: 500px;
    height: 500px;
    cursor: pointer;
    transition: .3s ease;
}

.hand img:hover {
    transform: scale(1.1);
}

.buttons {
    position: absolute;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 13px;
    margin: 20px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

.buttons a:hover {
    transform: scale(1.05);
}

